.nav-button {
    -fx-background-color: #FFFFFF; /* White Background */
    -fx-text-fill: #333333; /* Dark Text */
    -fx-font-size: 18px; /* Increased font size */
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-padding: 10 10 10 30; /* Adjusted padding for left alignment */
    -fx-alignment: CENTER_LEFT; /* Align content to the left */
}

.nav-button:hover {
    -fx-background-color: #f5f5f5; /* Light Gray for hover */
}

.nav-button:pressed,
.nav-button:focused {
    -fx-background-color: #4CAF50; /* Accent Color */
    -fx-text-fill: white;
}

.top-bar {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.5, 0, 2);
}

.view-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.menu-icon-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50em; /* Make it a circle */
    -jfx-rippler-fill: transparent; /* Disable ripple to show background on press */
}

.menu-icon-button:hover {
    -fx-background-color: #f5f5f5; /* Light gray background on hover */
}

.menu-icon-button:pressed {
    -fx-background-color: #4CAF50; /* Accent Color on press */
}
